<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interface</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
  <script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.js') }}"></script>
  <style>
    #navbar{
      max-height: 60px;
    }
  </style>
</head>
<body>
  <nav id="navbar" class="uk-navbar uk-navbar-container uk-margin">
    <div class="uk-navbar-left">
      <a class="uk-navbar-toggle" href="" uk-toggle="target: #offcanvas-nav">
        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
      </a>
    </div>
  </nav>

<div id="offcanvas-nav" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">containers</li>
            {% for container in containers %}
                <li><a href="#">{{ container.name }}</a></li>
            {% endfor %}
            <li class="uk-nav-divider"></li>
        </ul>

    </div>
</div>

<div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
    {% for container in containers %}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body">
          <div class="uk-card-badge uk-label uk-label-success">running</div>
          <p class="">{{ container.name }}</p>
          <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>